{% extends "layout.jinja2" %}

{% block title %}
home
{% endblock title %}}

{% block stylePer %}
<!-- include the style -->
<link rel="stylesheet" href="{{request.static_url('pyramidlogin:static/alertify/css/alertify.css')}}" />
<!-- include a theme -->
<link rel="stylesheet" href="{{request.static_url('pyramidlogin:static/alertify/css/themes/default.css')}}" />
<link rel="stylesheet" href="{{request.static_url('pyramidlogin:static/alertify/css/themes/bootstrap.css')}}" />
{% endblock stylePer%}

{% block content %}
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-4">
        <div id="alertEstado"></div>

        <form class="form card" method="POST">
            <legend>Agregar Instrumento</legend>
            <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input type="text" id="inputNombre" class="form-control" placeholder="Nombre instrumento" autofocus />
            </div>
            <div class="form-group">
                <label for="inputDescripcion">Descripcion</label>
                <input type="text" id="inputDescripcion" class="form-control" placeholder="Descripcion instrumento"
                    autofocus />
            </div>
            <div class="form-group">
                <label for="inputPrecio">Precio</label>
                <input type="text" id="inputPrecio" class="form-control" placeholder="Precio instrumento" autofocus />
            </div>
            <div class="form-group">
                <label for="inputCantidad">Cantidad</label>
                <input type="text" id="inputCantidad" class="form-control" placeholder="Cantidad instrumento"
                    autofocus />
            </div>
            <input type="submit" id="submit" class="btn btn-success btn-block" value="Agregar" />
        </form>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 p-4">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-dark table-res">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Borrar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody id="tbodyInstrumentos"></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="{{request.static_url('pyramidlogin:static/app.js')}}"></script>
<script src="{{request.static_url('pyramidlogin:static/alertify/alertify.min.js')}}"></script>
{% endblock extrajs %}