{% extends "layout.jinja2" %}

{% block title %}
home
{% endblock title %}}

{% block content %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rerum ipsa nam autem id consectetur ullam. Veritatis quidem consectetur quo. Ipsa tenetur enim dolorum asperiores repellendus praesentium, iure tempore ratione?
{% endblock content %}
