{% extends "layout.jinja2" %}

{% block title %}LogIn - {% endblock title %}

{% block content %}

<div class="center-login">
  <div class="card w-50">
    <div class="card-header text-center bg-info">
      Login
    </div>
    <div class="card-body">
      <form acction="{{ url }}" method="POST">
        <input type="hidden" value="{{ proxima_url}}">
        <div class="form-group">
          <label for="inputUsuario">Usuario</label>
          <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" value="{{ usuario }}" />
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="{{ password }}" />
        </div>
        <button type="submit" name="form.submitted" value="Login" class="btn btn-primary">
          Iniciar Session
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}