@import url(//fonts.googleapis.com/css?family=Open + Sans:300, 400, 600, 700);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to top left, black, darkcyan);
}

.center-login {
  width: 100%;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.center-login-v2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.justify-row-center {
  float: none;
  margin: 0 auto;
}

.card {
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.footerCentered {
  text-align: center;
}

.barraAbajo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.my-custom-scrollbar {
  position: relative;
  height: 450px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
